@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600&display=swap");

:root {
  --dark-orange: #d87d4a;
  --dark-blue: #101010;
  --beige: #f1f1f1;
  --off-white: #fafafa;
  --light-orange: #fbaf85;
  --white: #fff;
  --black: #000;
}

body {
  font-family: "Manrope", sans-serif;
}
